.panelHeader {
    display: flex;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border: 0.0625rem solid rgb(220, 220, 220);
    .panelTitle {
        user-select: none;
        font-size: 1.7rem;
        margin-left: 0.5rem;
    }
    .inUseCheckbox {
        margin-left: auto;
        margin-right: 1rem;
    }
    .dragingHandler {
        margin-right: 1rem;
    }
}

.panelHeader > button {
    margin-left: 0.5rem;
}