.PdfViewContainer {
    padding-right: 0.2rem;
    .pdfView {
        height: 99.5vh;
        top: 0;
        position: sticky;
    }
    .resizableSide:hover {
        background-color: rgb(122, 164, 255);
    }
}

.PdfViewContainer > div {
    height: 100% !important;
}