.PdfViewContainer {
    height: 99.5vh;
    padding-right: 0.2rem;
    .resizableSide:hover {
        background-color: rgb(122, 164, 255);
    }
}

.PdfViewContainer > div {
    height: 100% !important;
}