.PdfViewContainer {
    .pdfView {
        height: 99.5vh;
        top: 0;
        position: sticky;
    }
    .resizableSide {
        right: -0.35rem !important;
    }
    .resizableSide:hover {
        background-color: rgb(122, 164, 255);
    }
}

.PdfViewContainer > div {
    height: 100% !important;
}