.item {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    position: relative;
    align-items: center;
    .deleteIconLine {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        transition: color 0.3s;
    }
    .deleteIconLine:hover {
        color: red;
    }
}