.buttonContainer {
    .firstLine {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
        .CollapseButton {
            width: 8.3rem;
        }
        button {
            margin-right: 0.5rem !important;
        }
        .selectLang {
            margin-left: auto;
        }
    }
    .secondLine {
        display: flex;
        align-items: center;
        button {
            margin-right: 0.5rem !important;
            text-transform: none !important;
        }
        input[type="file"] {
            display: none;
        }
        .inputUpload {
            user-select: none;
            padding: 0.25rem 0.9rem;
            border: 0.0625rem solid rgb(220, 220, 220);
            margin-left: auto;
            transition: box-shadow 0.1s, background-color 0.1s;
        }
        .inputUpload:hover {
            cursor: pointer;
            background-color: rgb(249, 249, 249);
            box-shadow: 0 0 0.3rem 0.05rem rgb(180, 180, 180);
        }
    }
}
