.styleTitle {
    font-size: 1.7rem;
    padding-bottom: 1rem;
}
.styleBody {
    .line {
        display: flex;
        height: 3.5rem;
        .buttonContainer {
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }
    }
    .line > div:not(:last-child) {
        margin-right: 2rem;
    }
    .line > div {
        flex: 1;
    }
}

.styleBody > div:not(:last-child) {
    margin-bottom: 2rem;
}